body {
    margin: 0; 
    background: url(./img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    backdrop-filter: blur(15px); 
}

.navigation {
    display: flex;
    justify-content: space-between; /* Align items to the ends of the container */
    align-items: center; /* Center items vertically */
    /*background-color: #333;  Set background color for the navigation bar */
    padding: 5px; /* Add padding to the navigation bar */
}

#logo {
    width: 3%; /* Adjust the size of the logo */
    height: auto; /* Maintain aspect ratio */
}


.navigation {
    position: relative;
    background-color: rgba(215, 214, 214, 0.5);
    backdrop-filter: blur(50px); 
    border: 5px solid transparent; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    display: flex;
    justify-content: space-between;
}



.Signout {
    /* font-family: cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /*background-color: #4CAF50;  Set background color for the login button */
    color: antiquewhite;
    border-radius: 250%; 
    border: 5px solid transparent; 
    /*background: linear-gradient(45deg,rgba(255, 115, 0, 0.387),rgba(137, 92, 18, 0.643)) border-box; */
    padding: 10px 20px; 
    font-size: 130%; /* Adjust the font size */
    cursor: pointer;
    background-color: rgba(52, 48, 100, 0.2);
    backdrop-filter: blur(100%);
}

.signedOnUser:hover {
    background-color: rgba(48, 76, 100, 0.5);
    backdrop-filter: blur(10px);
}

.searchContainer {
   border: 1px solid transparent;
   width: 40%;
   height: 50px;
   margin-top: 1px;
   align-items: center;

}

#searchBar {
    padding: 40px; /* Increase padding for more space inside the search bar */
    font-size: 24px; /* Increase font size for better visibility */
    margin: 25px;
    margin-left: 50%;
    border-radius: 50px; /* Increase border-radius for rounder corners */
    
    padding: 1% 8%; /* Adjust padding for the button */
    font-size: 20px; /* Reset font size */
    
    text-align: center;
    
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: antiquewhite;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px); 
    border: 3px solid transparent; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    /*display: none;*/
}



.login-container {
    width: 32%;
    min-width: 210px; 
    min-height: 40px;
    max-width: 20%;
    padding: 5%;
    padding-right: 5%;
    border: 5% solid #ccc;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-sizing: border-box;
    display: none;
    background-color: rgba(199, 197, 197, 0.5);
    backdrop-filter: blur(50px); 
}




.login-container label[for="username"],
.login-container label[for="password"] {
    color: antiquewhite;
    font-weight: bold;
    font-size: 16px;
}

.login-container input#username {
    height: 20px;
    width: 100%;
    margin-bottom: 10px; 
    margin-right: 20%;
    border-radius: 5px;
    border: 2px antiquewhite;
}
.login-container input#password {
    height: 20px;
    width: 100%;
    margin-bottom: 10px; 
    border-radius: 5px;
    border: 2px antiquewhite;
    margin-right: 20%;
}
.username{
    height: 200px;
    width: 250px;
    margin-bottom: 10px; 
    
}

.login-container button {
    height: 20px;
    width: 90px; 
    margin-right: 14%;
    margin-bottom: 5%;
}

#searchBar::placeholder {
    color: rgb(252, 237, 218);
}


.displayEventsContainer{
    /* border: 5px solid white; */
    height: 93%;
    position: relative;
    overflow-y: auto;
}

.createEvent{
    position: absolute;
    bottom: 5%;
    right: 0%; 
    height: 35px;
    width: 15%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
    z-index: 1;
}

.eventCard {
    transition: transform 0.3s ease;
}
.createEvent:hover{
    cursor: pointer;
    transform: scale(1.03);
    animation: bounce 0.5s;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}


.eventCard{
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
    position: relative;
}


.eventCard:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    transform: scale(1.03);
}



.createEventContainer {
    position: fixed;
    top: 40%;
    left: 50%;
    height: 30%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(35px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center;
    justify-content: center;
    display: none;
}


.createEventContainer button {
    width: 81%; 
    margin: 5px; 
    margin-left: 9%;
}

.createEventContainer #eventName,
.createEventContainer #eventDate,
.createEventContainer #eventLocation,
.createEventContainer #longitude,
.createEventContainer #latitude,
.createEventContainer #eventDescription {
    width: 80%; 
    margin: 5px; 
    margin-left: 9%;
}

.createEventContainer #eventTimeHours {
    width: 5%; 
    margin-left: 9%;
}
.createEventContainer #eventTimeMinutes {
    width: 5%; 
}

.createEventContainer button:hover,.createEventContainer input:hover{
    cursor: pointer;
}

.submitEvent{
    background-color: blue;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.closePopup{
    background-color: red;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

label[for="eventType"] {
    margin-left: 9%;
}

.eventTimeHours{
    width: 5%;
}

label[for="Daytime"] {
    margin-left: 9%;
}

.eventTimeMinutes{
    width: 5%;
}

.userProfile{
    position: absolute;
    bottom: 8%;
    right: 0%; 
    height: 30px;
    width: 10%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
    z-index: 1;
}
.userProfile:hover{
    cursor: pointer;
    transform: scale(1.03);
    animation: bounce 0.5s;
}

.userEvents{
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
    position: relative;
    
}

.userEvents{
    transition: transform 0.3s ease;
}

.userEventsContainer{
    height: 93%;
    position: relative;
    overflow-y: auto;
    display: none;
}

.userEvents:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    transform: scale(1.03);
}



/* .eventPopUp{
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
    position: relative;
    
}

.eventPopUp{
    transition: transform 0.3s ease;
}

.eventPopUpContainer{
    height: 93%;
    position: relative;
    overflow-y: auto;
    display: none;
} */

.eventPopUpContainer {
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
    display: none;

}

.eventPopUp {
    background-color: white;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(5px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
    position: relative;
}

.eventPopUp h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.eventPopUp h2,
.eventPopUp h3,
.eventPopUp p {
    font-size: 16px;
    margin-bottom: 5px;
}

.eventPopUp h3 {
    font-weight: bold;
}

.CloseEvent{
    height: 30px;
    width: 10%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}